/**
 * Your CSS goes here.
 */

.bg-image{
    background-image: url('https://img.freepik.com/free-vector/flat-design-abstract-background_23-2149116123.jpg?w=2000');
    background-size:cover;
}


@media only screen and   (min-width: 1024px) {
    .bg-image {
    height: 100vh;
    }

} 
@media only screen and  (max-width: 1024px) {
    .bg-image {
    height: auto;
    }
} 

h1{
    font-family: 'Macondo','cursive';
    font-size: 350%  !important;
    color: rgb(206, 94, 159) !important;
    text-shadow: 0 0 3px #e7d8d8, 0 0 3px #34348f;
}
.container{
    padding-top: auto;
    

}
.box{
    background-color: rgba(218, 196, 196, 0.5);
    border:1px #e7d8d8 solid ;
    border-radius: 1%;
    align-content: center;
    background-size: contain;
    
} 
p{
    font-family: 'Inconsolata', monospace;
    font-weight: bold; 
    font-size: x-large;
    color: rgb(95, 92, 92);
    line-height: 40px;
    
}

input{
    line-height:2px !important;
    text-align: center ;
}

input:focus {
    outline:none;
    background-color: rgb(220, 198, 240);
    box-shadow: 0 0 10px #719ECE;
}

span {
    color :  rgb(214, 62, 151);

}





